@charset "UTF-8";
/*Paleta de cores: F0FDF4, F3F5F8 (fundo caixas), 4B5563 (subtitulo), 1F2937 (titulo), 16A34A (cor-contorno botão), 21C05C (cor hover botão), 2563EB (cor cículo com n°)
*/
/** Global Styles **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0FDF4;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #1F2937;
}

h2,
p {
  font-family: "Poppins", sans-serif;
}

h3,
h4,
h5 {
  font-family: "inter", sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 14px;
}

.btn-primary {
  background-color: #16A34A;
  cursor: pointer;
  border: #16A34A 1px solid;
  border-radius: 6px;
  font-weight: 400;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  justify-content: center;
  color: white;
  white-space: nowrap;
}

.btn-primary:hover {
  background-color: #21C05C;
  border: #21C05C 1px solid;
}

.btn-secondary {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: white;
  color: #2563EB;
  border-radius: 6px;
  padding: 10px 30px 10px 30px;
  border: 1px solid #2563EB;
  font-weight: 400;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  justify-content: center;
}

.btn-secondary:hover {
  border: #719af4 1px solid;
  color: #719af4;
}

.btn-secondary:hover img {
  filter: invert(52%) sepia(79%) saturate(439%) hue-rotate(199deg) brightness(98%) contrast(98%);
}

/** Header Section **/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  border-bottom: 1px solid #B4AEAE;
  margin: 0 37px;
  padding: 31px 0 10px;
}

nav img {
  width: 245px;
  height: 43px;
}

.menu {
  display: flex;
  gap: 33px;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 33px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: #4B5563;
  font-size: 16px;
  font-weight: 400;
}

nav button {
  height: 60px;
  width: 189px;
  white-space: nowrap;
}

/** Main Section **/
.hero-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 131px;
  padding-bottom: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px;
  max-width: 100%;
}

.hero h1 {
  padding: 0 0 24px 0;
}

.hero h4 {
  padding: 0 50px 24px 0;
}

.buttons-hero {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.buttons-hero button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 62px;
  width: 189.81px;
  white-space: nowrap;
  margin-top: 40px;
}

.image-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 0;
  padding-right: 10px;
}

.numbers-statistcs {
  background-color: #F3F5F8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 184px;
  gap: 20px;
}

.numbers-statistcs h2 {
  display: flex;
  justify-content: center;
  color: #16A34A;
  font-size: 40px;
  font-weight: 700;
}

.numbers-statistcs p {
  color: #4B5563;
  font-size: 16px;
  font-weight: 400;
}

.como-funciona {
  display: flex;
  flex-direction: column;
  padding: 40px 94px 0;
  background-color: #F0FDF4;
  padding-bottom: 7rem;
}

.como-funciona h2 {
  font-size: 40px;
  font-weight: 700;
  color: #1F2937;
}

.como-funciona h3 {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  color: #1F2937;
}

.como-funciona p {
  font-size: 16px;
}

.titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.titulo h2 {
  padding-bottom: 30px;
}

.clientes-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  width: 85vw;
}

.clientes-box h3 {
  color: #16A34A;
  font-size: 25px;
  font-weight: 400;
}

.box {
  display: flex;
  flex-direction: column;
  width: 491px;
  height: 481px;
  border-radius: 8px;
  padding-top: 15px;
  background-color: #F3F5F8;
  padding: 2%;
}

.titulo2 h3 {
  padding-bottom: 25px;
}

.titulo2 p {
  padding-bottom: 20px;
}

.titulo2 img {
  margin: 3px;
}

.itens {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.itens img {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 30px;
  align-items: center;
  margin-top: 12px;
  margin-right: 5px;
}

.frases {
  display: flex;
  flex-direction: column;
}

.do {
  color: #09090B;
  font-weight: 700;
  margin: 1%;
}

#doadores {
  transition: transform 0.3s ease;
}

#doadores:hover {
  transform: scale(1.1);
}

#adquirentes {
  transition: transform 0.3s ease;
}

#adquirentes:hover {
  transform: scale(1.1);
}

.catalogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F3F5F8;
  padding-bottom: 7rem;
  justify-content: center;
}

.catalogo h2 {
  font-size: 40px;
  font-weight: 700;
  color: #1F2937;
  padding: 40px 94px 2px;
}

.catalogo h3 {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  color: #4B5563;
  padding: 40px 94px;
}

.catalogo h4 {
  font-size: 20px;
  font-weight: 400;
  color: #09090B;
  padding: 15px 0 10px;
}

.catalogo p {
  font-size: 16px;
  font-weight: 400;
  color: #4B5563;
  padding: 10px 17px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.catalogo button {
  height: 37px;
  width: 150px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: white;
  align-items: center;
  margin: 10px 0;
}

.itens-catalogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 3rem;
}

.eletronicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #16A34A;
  border-radius: 8px;
  background-color: #FFFFFF;
  height: 436px;
  width: 299px;
  transition: transform 0.3s ease;
}

.eletronicos:hover {
  transform: scale(1.1);
}

.comentarios {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 7rem;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo h2 {
  font-size: 40px;
  font-weight: 700;
  color: #1F2937;
  padding: 40px 94px 2px;
}

.titulo h3 {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  color: #4B5563;
  padding: 40px 94px;
}

.sec {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.coment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  border: 1px solid #9CA3AF;
  border-left: 4px solid #9CA3AF;
  border-radius: 8px;
  background-color: white;
  padding: 35px;
  width: 338px;
  height: 300px;
  gap: 30px;
}

.coment p {
  font-size: 16px;
  font-weight: 400;
  color: #4B5563;
}

.coment img {
  width: 120px;
  height: 24px;
}

.usuario img {
  height: 40px;
  width: 40px;
}

.usuario {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
}

.dados h5 {
  font-size: 14px;
  font-weight: 400;
  color: #6B7280;
}

.dados h5.user {
  color: #09090B;
}

.sabermais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F5F8;
  padding-bottom: 7rem;
  height: 405px;
  text-align: center;
  gap: 2.5rem;
  padding: 20vw;
}

.sabermais h2 {
  font-size: 45px;
  font-weight: 700;
}

.sabermais h3 {
  font-size: 25px;
  font-weight: 400;
}

.sabermais button {
  height: 44px;
  width: 189px;
  border: 1px solid #16A34A;
  border-radius: 6px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn2 {
  color: #16A34A;
  background-color: white;
  align-items: center;
  font-weight: 400;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  justify-content: center;
  white-space: nowrap;
}

.btn2:hover {
  color: #21C05C;
  border: #21C05C 1px solid;
}/*# sourceMappingURL=style.css.map */